{% extends "base.html" %}
{% load static %}

{% block title %} Listing {% endblock %}
{% block content %}
<div class="row">
  {% for article in articles %}
   {% if True %} <!--  article n compris entre page-1*20 et page*20-->
       <div class="col-md-4 article">
         <a href="{% url "article" article.slug %}">
           <img class="img-fluid" src="{{ article.image.url}}" alt="{{article.image.name}}">
           <p class="centrer">{{article.nomProduit}}</p>
           <p class="centrer">{{article.prix}} €<p>
         </a>
       </div>
       {% if forloop.counter|divisibleby:3 %}
     </div>
     <div class="row">
       {% endif %}

   {% endif %}


  {% endfor %}
</div>
<div class="row">
  <div class="col-md-offset-4 col-md-4 ligne">
    <p>Page</p>
    
    {% for i in str %}
    <a href="{{ request.path }}?p={{forloop.counter}}">{{forloop.counter}}</a>

    {% endfor %}


  </div>

</div>
{% endblock %}
