{% extends "base.html" %}
{% load static %}

{% block title %} Listing {% endblock %}
{% block content %}
<div class="row">
  <div class="col-xs-6">
    <h1>Supreme</h1>
  </div>
  <div class="col-xs-6">
    <div class="row">
      {% for article in articles %}
      <div class="col-xs-4">
        <a href="{% url "article" article.slug %}">
          <img src="{{ article.image.url}}" alt="{{article.image.name}}">
          <p class="centrer">{{article.nomProduit}}</p>
          <p class="centrer">{{article.prix}} €<p>
        </a>
      </div>
      {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}

      {% endfor %}
    </div>

  </div>

</div>
<div class="row">
  {% for article in articles %}
  <div class="col-xs-4">
    <a href="{% url "article" article.slug %}">
      <img src="{{ article.image.url}}" alt="{{article.image.name}}">
      <p class="centrer">{{article.nomProduit}}</p>
      <p class="centrer">{{article.prix}} €<p>
    </a>
  </div>
  {% if forloop.counter|divisibleby:3 %}
</div>
<div class="row">
    {% endif %}

  {% endfor %}
</div>
<div class="row">
  <div class="col-xs-offset-4 col-xs-4 ligne">
    <p>Page</p>
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>

  </div>
  <div class="col-xs-offset-1 col-xs-3 ligne">
    <p>Afficher</p>
    <select class="" name="">
      <option value="vingt">20</option>
      <option value="quarante">40</option>
      <option value="soixante">60</option>


    </select>
    <p>articles par page.</p>

  </div>

</div>
{% endblock %}
