{% extends "base.html" %}
{% load static %}

{% block title %} Listing {% endblock %}
{% block content %}
{% for marque in marques %}
<div class="row">
  <div class="col-md-6 col-xs-3">
    <a href="{% url "marque_listing" marque.slug %}">
      <h1 class="centrer">{{marque.nomMarque}}</h1>
    </a>

  </div>
  <div class="col-md-6 col-xs-9">
    <div class=" row horizontalScroll">
      {% for article in marque.produits.all %}
      <div class="col-md-4 col-xs-12 horizontalScrollContent article">
        <a href="{% url "article" article.slug %}">
          <img class="img-fluid" src="{{ article.image.url}}" alt="{{article.image.name}}">
          <p class="centrer">{{article.nomProduit}}</p>
          <p class="centrer">{{article.prix}} €<p>
        </a>
      </div>


      {% endfor %}
    </div>

  </div>

</div>
{% endfor %}


{% endblock %}
