body{
  color:rgb(0,30,96);
}
p{
  font-size: .875em;
  font-weight: 400;

}
img{
  width:100%;
}
a,a:hover, a:active{
  color:rgb(0,30,96);
  background-color: transparent;
  text-decoration: none;
}
h2,h4{
  text-align: center;
}
ul{
  margin:0;
  padding-bottom: 10px;
}
body{
  font-family: 'Roboto', sans-serif;
}
/* h1,h2,h3,h4, nav{
  font-family: 'Prata', serif;
} */


h2{
  margin-bottom: 3vh;
}
.row{
  margin:0;
}

.menu{
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  font-size: large;
  list-style: none;
}
.centrer{
  text-align: center;
}
.texte{
  color:white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}
.shopNow{
  display:block;
  width: 100%;
  min-width: 250px;
  height: 45px;
  text-align: center;
  background-color: white;
  color:rgb(0,30,96);
  width:100%;
  height:100%;
  line-height: 48px;
  font-size:1em;
  opacity:0.8;

}
.ligne{
  display:flex;
  flex-flow:row: nowrap;
  justify-content: space-around;
}


.horizontalScroll{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

}
.horizontalScrollContent {
  flex: 0 0 auto;
}
/* @media (max-width: 767.98px) { */
  .responsiveScroll{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

  }
  .responsiveScrollContent {
    flex: 0 0 auto;
  }
  .article{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
  }

/* } */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width:100%;
  z-index: 1;
}
.dropdown-content ul {
  color: rgb(0,30,96);
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
}
.dropdown:hover .dropdown-content,.dropdown-content:hover {
  display: block;
}

.promoMarque{
  margin-top:5vh;
  margin-bottom:5vh;
}
.container-fluid{
  padding-left:0;
  padding-right:0;
}
.carousel-control.left, .carousel-control.right {
  background: none !important;
  filter: progid: none !important;
  outline: 0;
 }
.carousel .carousel-control {
  visibility: hidden;
}
.carousel:hover .carousel-control {
  visibility: visible;
}
.bold{
  font-weight: bold;
}


#logo{
  margin-top: 5vh;
  margin-bottom: 5vh;
}
#myCarousel, #myCarousel img {
  height:50vh;
  width:auto;
  margin:auto;
}

footer{
  margin-top: 5vh;
  padding-top:2vh;
  height:20vh;
  background-color: rgb(0,30,96);
}
footer .menu a li{
    color:white !important;
}
